<% provide :title , t(".title") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to "http://www.railstutorial.org/" do %>
    <%= content_tag :em , t(".content1") %>
  <% end %>
  <%= t ".p2" %>
  <%= link_to t(".content2"), "http://www.railstutorial.org/book" %>
  <%= t ".p3" %>
  <%= link_to t(".content3"), "http://screencasts.railstutorial.org/" %>
  <%= t ".p4" %>
  <%= link_to t(".content4"), "http://rubyonrails.org/" %>.
  <%= t ".p5" %>
</p>
