<footer class="footer">
  <small>
    <%= t ".sm1" %>
    <%= link_to t(".content1"), "http://www.railstutorial.org/" %>
    <%= t ".sm2" %>
    <%= link_to t(".content2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".content3"), about_path %></li>
      <li><%= link_to t(".content4"), contact_path %></li>
      <li><%= link_to t(".content5"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
